body{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    color:crimson;
}

.container{
    margin: auto;
    width: 80%;
    background-color: darkgoldenrod;
    color: white;
    padding: 1em;
}